<div class="jumbotron">
<h1 class="text-center">Eat a burger!</h1>
</div>

<div class="container">
<h2>Burgers already eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="container">
<h2>Ready to eat!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>


<div class="container">
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
      </div>

  <div class="form-group">
    <label for="devoured">Eat now?</label><br>
    <input type="radio" name="devoured" value="1" checked> Eat now!<br>
    <input type="radio" name="devoured" value="0"> Wait to eat
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>
